<header class="flex flex-wrap items-center justify-between border-b border-gray-200">
  <a routerLink="/">
    <img src="./MediCareLogo.png" alt="Logo" class="w-48 p-2">
  </a>
  <div class="flex flex-wrap p-2 text-blue-950">
    <ul class="flex">
      <li class="p-2 font-semibold hover:bg-gray-200 rounded-lg cursor-pointer" routerLink="/register">Register</li>
      <li class="p-2 font-semibold hover:bg-gray-200 rounded-lg cursor-pointer" routerLink="/login">Login</li>
      <li class="p-2 font-semibold hover:bg-gray-200 rounded-lg cursor-pointer" routerLink="/contact">Contact Us</li>
    </ul>
    <select  class="p-2 font-semibold focus:outline-none">
      <option value="en">English</option>
      <option value="ar">Arabic</option>
    </select>
  </div>
</header>